<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muhammedraheezrahman.todolist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/kingdomlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kingdomlogo"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".UI.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.LoginActivity"></activity>
        <activity android:name=".UI.SignupActivity"></activity>
        <activity android:name=".UI.TodoDetatilActivity"></activity>
        <activity android:name=".UI.ListActivity"></activity>
        <activity android:name=".UI.AddTodoActivity"></activity>

    </application>

</manifest>